<h2>Course List</h2>
<table class="table table-striped">
    <thead>
        <tr><th>Imagem</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Código</th>
            <th>Rating</th>
            <th>Data de Lançamento</th>
            <th>Options</th>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.imageUrl}}</td>
            <td>{{course.name}}</td>
            <td>{{course.price}}</td>
            <td>{{course.code}}</td>
            <td>{{course.rating}}</td>
            <td>{{course.dataLancamento}}</td>
        </tr>
    </tbody>


</table>